.modal {
    text-align: center;
    margin-top: 50px;
}
.button {
    color: white;
    background-color: #008000;
    border: 1px;
    border-color: black;
    border-style: solid;
}
.exitbutton {
    margin-top: 154px;
    color: white;
    background-color: #8b0000;
    border: 1px;
    border-color: black;
    border-style: solid;
}