.popup {
    color: white;
    background-color: darkred;
    text-align: center;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    margin-top: 50px;
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 3px;
}
